mat-table {
  width: 100%;
}

mat-header-cell,
mat-cell {
  padding: 8px;
}

mat-header-cell {
  background-color: #f5f5f5;
  font-weight: bold;
}

.expense {
  color: red;
}

.income {
  color: green;
}

.totals {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;

  div {
    font-weight: bold;
    font-size: 1.2em;
  }
}
