<!-- <mat-toolbar color="primary">
  <img src="assets/logo.svg" alt="Expenses Tracker Logo" class="logo" />
  <span>Expenses Tracker</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/dashboard">Dashboard</a>
    <a mat-button routerLink="/categories">Categories</a>
    <a mat-button routerLink="/transactions">Transactions</a>
    <a mat-button (click)="logout()">Logout</a>
  </nav>
</mat-toolbar>
<div class="layout">
  <router-outlet></router-outlet>
</div> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport
    [mode]="isHandset ? 'over' : 'side'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="sidenav.close()"
        >Dashboard</a
      >
      <a mat-list-item routerLink="/categories" (click)="sidenav.close()"
        >Categories</a
      >
      <a mat-list-item routerLink="/transactions" (click)="sidenav.close()"
        >Transactions</a
      >
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset"
        aria-label="Toggle sidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/logo.svg" alt="Expenses Tracker Logo" class="logo" />
      <span>Expenses Tracker</span>
      <span class="spacer"></span>
      <nav *ngIf="!isHandset && signalsService.user()">
        <a mat-button routerLink="/dashboard">Dashboard</a>
        <a mat-button routerLink="/categories">Categories</a>
        <a mat-button routerLink="/transactions">Transactions</a>
        <a mat-button (click)="logout()">Logout</a>
      </nav>
      <nav *ngIf="!isHandset && !signalsService.user()">
        <a mat-button routerLink="/login">Login</a>
      </nav>
    </mat-toolbar>

    <div class="layout">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
